@font-face {
  font-family: 'Museo Sans Rounded';
  src:
    url('./fonts/MuseoSansRounded/woff2/MuseoSansRounded-100.woff2') format('woff2'),
    url('./fonts/MuseoSansRounded/woff/MuseoSansRounded-100.woff') format('woff');
  font-weight: 100;
  font-display: swap;
}
@font-face {
  font-family: 'Museo Sans Rounded';
  src:
    url('./fonts/MuseoSansRounded/woff2/MuseoSansRounded-300.woff2') format('woff2'),
    url('./fonts/MuseoSansRounded/woff/MuseoSansRounded-300.woff') format('woff');
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: 'Museo Sans Rounded';
  src:
    url('./fonts/MuseoSansRounded/woff2/MuseoSansRounded-500.woff2') format('woff2'),
    url('./fonts/MuseoSansRounded/woff/MuseoSansRounded-500.woff') format('woff');

  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'Museo Sans Rounded';
  src:
    url('./fonts/MuseoSansRounded/woff2/MuseoSansRounded-700.woff2') format('woff2'),
    url('./fonts/MuseoSansRounded/woff/MuseoSansRounded-700.woff') format('woff');
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'Museo Sans Rounded';
  src:
    url('./fonts/MuseoSansRounded/woff2/MuseoSansRounded-900.woff2') format('woff2'),
    url('./fonts/MuseoSansRounded/woff/MuseoSansRounded-900.woff') format('woff');
  font-weight: 900;
  font-display: swap;
}
@font-face {
  font-family: 'Museo Sans Rounded';
  src:
    url('./fonts/MuseoSansRounded/woff2/MuseoSansRounded-1000.woff2') format('woff2'),
    url('./fonts/MuseoSansRounded/woff/MuseoSansRounded-1000.woff') format('woff');
  font-weight: 1000;
  font-display: swap;
}
